# Stripe secrets
STRIPE_API_KEY=sk_live_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_FEE_PERCENT=10
STRIPE_SUCCESS_URL=http://localhost:8080/success
STRIPE_CANCEL_URL=http://localhost:8080/cancel
STRIPE_CURRENCY=brl
STRIPE_CONNECT=false
